################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Campaign.Companion/obj
/Campaign.Companion/bin
.vs
