################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Campaign.Companion/obj
/Campaign.Companion/bin
.vs

Campaign\.Companion\.Models/bin/

Campaign\.Companion\.Models/obj/

Campaign\.Companion\.Storage/bin/

Campaign\.Companion\.Storage/obj/

Campaign\.Companion\.Tests/bin/

Campaign\.Companion\.Tests/obj/

Campaign\.Companion\.Storage\.Azure/bin/

Campaign\.Companion\.Storage\.Azure/obj/

Campaign\.Companion\.Storage\.Azure\.Tests/bin/

Campaign\.Companion\.Storage\.Azure\.Tests/obj/

Campaign\.Companion\.Storage\.Azure\.Tests\.Integration/bin/

Campaign\.Companion\.Storage\.Azure\.Tests\.Integration/obj/
